* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor-primaria: rgb(0,180,180);
    --cor-secundaria: rgb(150, 150, 150);
    --fundo-transparente: rgba(63, 63, 63, 0.5);
}

body {
    height: 100vh;
    background-color: rgb(43, 43, 43);
    margin: 0;
    padding: 0;
    background: url(imagens/fundo.jpg) no-repeat fixed;
    background-size: cover;
}

p {
    text-align: justify;
    text-indent: 2em;
}
    
.site {
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: rgb(54, 54, 54);
    color: white;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-shadow: 0 1px 5px  aqua;
    }


.casa {
    margin-left: 5%;
}


nav .casa .link-home {
    color: white;
    font-size: 35px;
}

.links {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.links li {   
    list-style-type: none;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
}

.links li a:hover {
    color: aqua;
    transition: .5s;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.redes-sociais {
    width: 10%;
    margin-right: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes-sociais .icone {
    width: 30px;
    height: auto;
}

.redes-sociais i {
    font-size: 25px;
    color: white;
}

nav .hamburguer {
    display: none;
    font-size: 25px;
    margin-right: 20px;
    cursor: pointer;
}

nav .redes-sociais i:hover {
    font-size: 30px;
    transition: .1s;
}

nav .casa i:hover {
    color: rgb(0, 221, 221);
    transition: .3s;
}

.section-main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-main .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-main .titulo h1 {
    margin: 0;
    text-align: center;
    font-size: 80px;
    color: rgb(0, 180, 180);
}

.section-main .titulo h2 {
    margin: 0;
    font-size: 25px;
    text-align: center;
    color: var(--cor-secundaria);
}

.section-main p {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.container-seta {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.section-main .seta {
    height: 55px;
    text-align: center;
    color: white;
    font-size: 50px;
}

.section-main .seta:hover {
    cursor: pointer;
    font-size: 55px;
    transition: .2s;
}

@media (max-width: 768px){
    nav .hamburguer {
        display: block;
    }

    nav .links {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: rgb(54, 54, 54);
    }

    nav .links ul {
        flex-direction: column;

    }

    nav .links.ativo {
        display: flex;
    }
}