* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Variáveis */
:root {
    --cor-primaria: rgb(0,180,180);
    --cor-secundaria: rgb(150, 150, 150);
    --cor-botao: linear-gradient(rgb(0,180,180),rgb(0, 255, 255));
    --cor-botao-hover: linear-gradient(rgb(0, 150, 150), rgb(0,180,180));
    --fundo-transparente: rgba(63, 63, 63, 0.5);
}

body {
    min-height: 100vh;
    height: 100%;
    background-color: rgb(43, 43, 43);
    margin: 0;
    padding: 0;
    background: url(imagens/fundo.jpg) no-repeat fixed;
    background-size: cover;
}

/* Parágrafos justificados e com margem de início */
p {
    text-align: justify;
    text-indent: 2em;
}

/* Todo o site */
.site {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Menu superior */
nav {
    background-color: rgb(54, 54, 54);
    color: white;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-shadow: 0 1px 5px  aqua;
    z-index: 1000;
    }


.casa {
    margin-left: 5%;
}


nav .casa .link-home {
    color: white;
    font-size: 35px;
}

.links {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.links li {   
    list-style-type: none;
    /* padding: 10px 15px; */
    display: flex;
    justify-content: center;
}

.links li a:hover {
    color: aqua;
    transition: .5s;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.container-rs-mobile {
    display: none;
}

.container-rs-menu {
    width: 15%;
    margin-right: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1%;
}

.container-rs-menu .icone {
    width: 30px;
    height: auto;
}

.container-rs-menu i {
    font-size: 25px;
    color: white;
}

.container-rs-menu svg, .container-rs-mobile svg {
    width: 25px;
}

/* Ícone hamburguer para telas menores */
nav .hamburguer {
    display: none;
    font-size: 25px;
    margin-right: 20px;
    cursor: pointer;
}

.container-rs-menu i:hover {
    font-size: 30px;
    transition: .1s;
}

.container-rs-menu svg, .container-rs-mobile svg:hover {
    width: 30px;
    transition: .1s;
}

nav .casa i:hover {
    color: rgb(0, 221, 221);
    transition: .3s;
}

/* Definindo todos os section */
section {
    width: 100%;
    min-height: 100vh;
    /* padding-top: 100px; */
    display: flex;
    justify-content: center;
    /* gap: 10vh; */
    scroll-snap-align: start;
}

/* Primeiro section */
.section-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 25vh; */
}

.titulo {
    margin: 0;
    text-align: center;
    color: var(--cor-primaria);
}

.subtitulo {
    margin: 0;
    text-align: center;
    color: var(--cor-secundaria);
}

h1.titulo {
    font-size: 80px;
}

h2.titulo {
    font-size: 60px;
}

/* Sombra/borda azul em torno do elemento */
.shadow {
    box-shadow: 0 0 1px 1px aqua;
}

.container-botao {
    margin-top: 40px;
}

.botao {
    text-decoration: none;
    margin: 20px 0;
    color: black;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 20px;
    background: var(--cor-botao);
}

.botao:hover {
    background: var(--cor-botao-hover);
    transition: .2s;
}

.container-seta {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.seta {
    height: 55px;
    text-align: center;
    color: white;
    font-size: 50px;
}

.seta:hover {
    cursor: pointer;
    font-size: 55px;
    transition: .2s;
}

@media (max-width: 1024px){
    nav .hamburguer {
        display: block;
    }

    nav .links {
        display: none;
    }

    nav .links.ativo {
        display: flex;
        flex-direction: column;
        width: fit-content;
        padding: 0 20px;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: rgb(54, 54, 54);
    }

    nav .links.ativo li {
        padding: 10px 0;
    }

    div.redes-sociais {
        width: 20%;
    }
}

@media (max-width: 640px){

    .container-rs-menu {
        display: none;
    }
    
    .container-rs-mobile {
        display: flex;
    }

    .container-rs-mobile {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

}