.content {
    background-color: var(--fundo-transparente);
    width: 75%;
    height: fit-content;
    padding: 30px 50px;
    border-radius: 1%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
}

.content .container-txt {
    width: 40%;
    color: white;
}

.content .container-txt p {
    margin-bottom: 10px;
}

.container-txt .titulo {
    margin-bottom: 30px;
}

.content .container-img {
    min-width: 200px;
    width: 40%;
    display: flex;
    justify-content: center;
}

.container-img img {
    width: 400px;
}






.section-linguagens {
    width: 100%;
}

.container-linguagens {
    margin-top: 50px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 48px;
}

.linguagem {
    width: 90px;
}

.linguagem .icone {
    font-size: 100px;
}

.linguagem .txt {
    color: rgb(220, 220, 220);
    font-size: 25px;
}

.linguagem.html .icone {
    color: orange;
}

.linguagem.css .icone {
    color: lightblue;
}

.linguagem.js .icone {
    color: yellow;
}

.linguagem.python .icone {
    color: aqua;
}

.container-linguagens .linguagem .txt{
    color: white;
}

@media (max-width: 768px){
    .section-main h1 {
        font-size: 60px;
    }

    .container-linguagens {
        width: fit-content;
        gap: 24px;
    }

    .linguagem {
        width: 50px;
    }

    .linguagem .icone {
        font-size: 70px;
    }
}

@media (max-width: 550px) {
    .section-main h1 {
        font-size: 48px;
    }
    .section-main h2 {
        font-size: 18px;
    }
}